<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Подробная информация об уровне образования</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg" style="background-color: #00446d;">
    <div class="container-fluid">
        <a class="navbar-brand link-light" href="/">МЭС</a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link link-light" href="/students">Cтуденты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="/groups">Группы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="/specialities">Специальности</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="/forms">Формы обучения</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="/levels">Уровни образования</a>
                </li>
            </ul>
            <div class="navbar-text text-light mx-2" th:inline="text">[[${#httpServletRequest.remoteUser}]]</div>
            <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post" class="d-flex">
                <button type="submit" class="btn btn-outline-info">Выйти</button>
            </form>
        </div>
    </div>
</nav>
<div class="container mt-4">
    <h1 class="display-6">Просмотр и редактирование уровня образования</h1>
    <form action="#" th:action="@{/levels/{id}(id=${editLevel.getId()})}" th:method="PUT" th:object="${editLevel}">
        <div class="row g-2">
            <div class="col-sm-3">
                <label for="inputEditName" class="form-label">Название</label>
                <input type="text" th:field="*{name}" id="inputEditName" class="form-control"/>
            </div>
        </div>
        <button type="submit" class="btn col-sm-1 my-4 text-light" style="background-color: #00446d;">
            Изменить
        </button>
    </form>

    <form action="#" th:action="@{/levels/{id}(id=${editLevel.getId()})}" th:method="DELETE" th:object="${editLevel}">
        <button type="submit" class="btn btn-outline-danger mb-3">Удалить</button>
    </form>

    <a href="/forms">Вернуться к списку уровней образования</a>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>
</html>