<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Электронная среда университета</title>
</head>
<body>
    <h1>Модуль электронный среды <span th:text="${name}"></span></h1>
    <a href="/students">Список студентов</a> <br/><br/>
    <a href="/groups">Список групп</a> <br/><br/>
    <a href="/specialities">Список специальностей</a> <br/><br/>
    <a href="/forms">Список форм обучения</a> <br/><br/>
    <a href="/levels">Список уровней образования</a> <br/><br/>
</body>
</html>