<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Список специальностей</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous">
</head>
<body>
<table class="table">
    <thead>
    <tr>
        <th> Id</th>
        <th> Название</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${specialitiesList.isEmpty()}">
        <td colspan="2"> В результате запроса специальностей нет</td>
    </tr>
    <tr th:each="speciality : ${specialitiesList}">
        <td><span th:text="${speciality.id}"> Id </span></td>
        <td><span th:text="${speciality.name}"> Название </span></td>
    </tr>
    </tbody>
</table>
<p>Всего специальностей: <span th:text="${specialityCount}"></span></p>
<br/>
<hr/>
<br/>
<p>Добавить новую специальность в базу данных:</p>
<form action="#" th:action="@{/specialities}" th:method="POST" th:object="${newSpeciality}">
    <label>
        Название
        <input type="text" th:field="*{name}"/>
    </label>
    <br/><br/>

    <input type="submit" value="Создать"/>
</form>
<br/>
<a href="/">Вернуться на главную</a>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>
</html>