<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Статистика по вакцинации</title>
    <link rel="icon" href="/favicon.png"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg" style="background-color: #00446d;">
    <div class="container-fluid">
        <a class="navbar-brand link-light" href="/">МЭС</a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                    <a class="nav-link link-light" href="/students">Cтуденты</a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                    <a class="nav-link link-light" href="/groups">Группы</a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                    <a class="nav-link link-light" href="/specialities">Специальности</a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                    <a class="nav-link link-light" href="/forms">Формы обучения</a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                    <a class="nav-link link-light" href="/levels">Уровни образования</a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                    <a class="nav-link link-light" href="/users">Пользователи</a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                    <a class="nav-link link-light" href="/events">Мероприятия</a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                    <a class="nav-link link-light" href="/vaccinationStats">Статистика вакцинации</a>
                </li>
            </ul>
            <div class="navbar-text text-light mx-2" th:inline="text">[[${#httpServletRequest.remoteUser}]]</div>
            <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post" class="d-flex">
                <button type="submit" class="btn btn-outline-info">Выйти</button>
            </form>
        </div>
    </div>
</nav>
<div class="container">
    <h1 class="my-5">Статистика по вакцинации</h1>
    <div class="row g-2 mb-3">
        <div class="col h3">Студентов с сертификатами:</div>
        <div class="col-8 h3 text-primary fw-bolder">
            <span th:text="${studentsVaccinated}"></span> из <span th:text="${studsCnt}"></span>
            (<span th:text="${percent} + '%'"></span>)
        </div>
    </div>

    <div class="row g-2 mb-3">
        <div class="col h3">Сертификатов за текущий: <span th:text="${currentYear}"></span> год</div>
        <div th:text="${vaccineCurrYear}" class="col-8 h3 text-primary fw-bolder"></div>
    </div>
    <div class="row g-2 mb-3">
        <div class="col h3">Сертификатов за прошлый: <span th:text="${pastYear}"></span> год</div>
        <div th:text="${vaccinePastYear}" class="col-8 h3 text-primary fw-bolder"></div>
    </div>
    <div class="row g-2 mb-3">
        <div class="col h3">Сертификатов более старых: (истекли)</div>
        <div th:text="${vaccinesOld}" class="col-8 h3 text-danger fw-bolder"></div>
    </div>
    <div class="row g-2 mb-3">
        <div class="col h3">Действующих сертификатов:</div>
        <div th:text="${activeCerts}" class="col-8 h3 text-success fw-bolder"></div>
    </div>
    <div class="row g-2 mb-3">
        <div class="col h3">Просроченных:</div>
        <div th:text="${expiredCerts}" class="col-8 h3 text-danger fw-bolder"></div>
    </div>

    <a href="/static">Вернуться на главную</a>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>
</html>