<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Подробная информация о студенте</title>
    <link rel="icon" href="/static/favicon.png"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg" style="background-color: #00446d;">
    <div class="container-fluid">
        <a class="navbar-brand link-light" href="/">МЭС</a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                    <a class="nav-link link-light" href="/students">Cтуденты</a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                    <a class="nav-link link-light" href="/groups">Группы</a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                    <a class="nav-link link-light" href="/specialities">Специальности</a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                    <a class="nav-link link-light" href="/forms">Формы обучения</a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                    <a class="nav-link link-light" href="/levels">Уровни образования</a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                    <a class="nav-link link-light" href="/users">Пользователи</a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                    <a class="nav-link link-light" href="/events">Мероприятия</a>
                </li>
            </ul>
            <div class="navbar-text text-light mx-2" th:inline="text">[[${#httpServletRequest.remoteUser}]]</div>
            <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post" class="d-flex">
                <button type="submit" class="btn btn-outline-info">Выйти</button>
            </form>
        </div>
    </div>
</nav>
<div class="container">
    <h1 class="display-6">Просмотр и редактирование данных студента</h1>
    <form action="#" th:action="@{/students/{id}(id=${editStudent.getId()})}" th:method="PUT">
        <div class="row g-2">
            <div class="col-form-label col-sm-3">
                <label for="inputSurname" class="form-label">Фамилия</label>
                <input type="text"
                       th:value="${editStudent.surname}"
                       th:name="surname"
                       class="form-control"
                       id="inputSurname"/>
            </div>
        </div>
        <div class="row g-2">
            <div class="col-form-label col-sm-3">
                <label for="inputName" class="form-label">Имя</label>
                <input type="text" th:value="${editStudent.name}" th:name="name" class="form-control" id="inputName">
            </div>
        </div>
        <div class="row g-2">
            <div class="col-form-label col-sm-3">
                <label for="inputPatronymic" class="form-label">Отчество</label>
                <input type="text"
                       th:value="${editStudent.patronymic}"
                       th:name="patronymic"
                       class="form-control"
                       id="inputPatronymic">
            </div>
        </div>
        <div class="row g-2">
            <div class="col-sm-2">Группа</div>
            <div class="col-sm-2">Основа обучения</div>
        </div>
        <th:block th:each="group : ${groupList}">
            <div class="row g-2 my-3">
                <div class="form-check col-sm-2">
                    <label class="form-check-label"
                           th:for="${group.name} + groupsCheck"
                           th:text="${group.name}"></label>
                    <input type="checkbox"
                           th:name="groups"
                           th:checked="${#lists.contains(studentGroups, group)}"
                           th:value="${group.id}"
                           class="form-check-input"/>
                </div>

                <div class="col-sm-2">
                    <select th:name="payments" class="form-select">
                        <option selected th:value="${null}">Не выбрано</option>
                        <option th:selected="${#lists.contains(studentGroups, group)}" th:value="${true}"
                                th:text="Бюджет"></option>
                        <option th:value="${false}" th:text="Договор"></option>
                    </select>
                </div>
            </div>
        </th:block>
        <div class="row g-2">
            <button type="submit" class="btn col-sm-2 text-light mb-3" style="background-color: #00446d;">
                Изменить
            </button>
        </div>
    </form>

    <a href="/students">Вернуться к списку студентов</a>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>
</html>