<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Подробная информация о студенте</title>
</head>
<body>
<h1>Просмотр и редактирование данных студента</h1>
<form action="#" th:action="@{/students/{id}(id=${editStudent.getId()})}" th:method="PATCH" th:object="${editStudent}">
    <label>
        Фамилия
        <input type="text" th:field="*{surname}">
    </label>
    <br/><br/>
    <label>
        Имя
        <input type="text" th:field="*{name}">
    </label>
    <br/><br/>
    <label>
        Отчество
        <input type="text" th:field="*{patronymic}">
    </label>
    <br/><br/>
    <table>
        <tr>
            <th>Группа</th>
            <th> :: </th>
            <th>Основа обучения</th>
        </tr>
    </table>
    <th:block th:each="group : ${groupList}">
        <label>
            <span th:text="${group.name}"></span>
            <input type="checkbox" th:name="groups" th:checked="${#lists.contains(studentGroups, group)}"/>
        </label>
        <span> :: </span>
        <select th:name="payments">
            <option selected th:disabled="${true}">Не выбрано</option>
            <option th:selected="${#lists.contains(studentGroups, group)}" th:value="${true}" th:text="Бюджет"></option>
            <option th:value="${false}" th:text="Договор"></option>
        </select>
        <br/><br/>
    </th:block>
    <br/>
    <input type="submit" th:value="Изменить">
</form>
<br/><br/>
<a href="/students">Вернуться к списку студентов</a>
</body>
</html>