<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список студентов</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th> Id </th>
        <th> Фамилия </th>
        <th> Имя </th>
        <th> Отчество </th>
        <th> Группы</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${studentsList.isEmpty()}">
        <td colspan="4"> В результате запроса студентов нет</td>
    </tr>
    <tr th:each="student : ${studentsList}">
        <td><span th:text="${student.id}"> Id </span></td>
        <td><span th:text="${student.surname}"> Surname </span></td>
        <td><span th:text="${student.name}"> Name </span></td>
        <td><span th:text="${student.patronymic}"> Patronymic </span></td>
        <td>
            <th:block th:each="seat : ${student.seats}">
                <span th:text="${seat.group?.name}"> Patronymic </span>
                <br/>
            </th:block>
        </td>
    </tr>
    </tbody>
</table>
<p>Всего студентов: <span th:text="${studentsCount}"></span></p>
<br/>
<hr/>
<br/>
<p>Добавить нового студента в базу данных:</p>
<form action="#" th:action="@{/students}" th:method="POST" th:object="${newStudent}">
    <label>
        Фамилия
        <input type="text" th:field="*{surname}"/>
    </label>
    <br/><br/>
    <label>
        Имя
        <input type="text" th:field="*{name}"/>
    </label>
    <br/><br/>
    <label>
        Отчество
        <input type="text" th:field="*{patronymic}"/>
    </label>
    <br/><br/>
    <th:block th:each="group : ${groupList}">
        <input type="checkbox" name="groups" th:value="${group.id}" id="groupsCheck"/>
        <label for="groupsCheck" th:text="${group.name}"></label>
        <span> :: </span>
        <label>
            Основа обучения:
            <select name="payments">
                <option selected th:disabled="${true}">Не выбрано</option>
                <option th:value="${true}" th:text="Бюджет"></option>
                <option th:value="${false}" th:text="Договор"></option>
            </select>
        </label>
        <br/>
    </th:block>
    <br/><br/>
    <input type="submit" value="Создать"/>
</form>
<br/>
<a href="/">Вернуться на главную</a>
</body>
</html>